<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2>View All</h2>
    <ul>
        <!-- <li th:each="column : ${columns}"> -->
        <li th:each="field : ${fields}">
            <!-- <a th:href="@{/list/values(column=${column.key})}" th:text="${column.value}"></a> -->

            <!-- The OO version uses field instead of column.key and field.name instead of column.value -->
            <a th:href="@{/list/values(OOcolumn=${field})}" th:text="${field.name}"></a>
        </li>
    </ul>

</div>

</body>
</html>